.header-menu {
    text-align: center;
    background-color: $gray;
    padding: 15px;
	&__list { 
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
	&__paragraph { 
        margin: 0 10px;
    }
	&__link { 
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-weight: 500;
        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
}