.slider {
    overflow: hidden;
    padding: 20px 20px;
    height: 600px;
    max-height: 100%;
	&__box { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
	&__info { 
       width: 800px;
       max-width: 100%;
    }
	&__title { 
        font-weight: 700;
        font-size: 48px;
        color: $yellow;
        margin-bottom: 40px;
    }
	&__text { 
        font-size: 20px;
        color: $orange;
        margin-bottom: 40px;
    }
	&__btn { 
        border: 3px solid $green;
        border-radius: 50px;
        padding: 10px 20px;
        text-decoration: none;
        color: $green;
        font-size: 23px;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            font-size: 24px;
            box-shadow: 0 0 10px 5px rgba(70, 238, 4, 0.7);
        }
    }
	&__img { 
        position: absolute;
        top: 0;
        right: -10px;
        max-height: 500px;
        transition: 0.5s;
        &:hover {
            transition: 0.5s;
            max-height: 530px;
        } 
    }
    &__circle {
        cursor: pointer;
        width: 600px;
        height: 500px;
        background: $yellow; 
        border-radius: 50%;
        position: relative;
        :before {
            display: flex;
            content: '';
            width: 80%;
            height: 80%;
            background: $orange; 
            border-radius: 50%;    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}